 <div class="nav-div">

        <ul class="nav-list">
            <a href="#home"><li class="nav-item">{{ page.about_title | default: site.about_title | default: 'About Me' }}</li></a>
            {%- if data_root.publications and data_root.publications.size > 0 -%}
                <a href="#{{ page.publications_title | default: site.publications_title | default: 'Publications' }}"><li class="nav-item">{{ page.publications_title | default: site.publications_title | default: "Publications" }}</li></a>
            {%- endif -%}

            {%- if data_root.skills and data_root.skills.size > 0 -%}
                <a href="#{{ page.skill_name | default: site.skill_name | slugify | default: 'Skills' }}"><li class="nav-item">{{ page.skill_name | default: site.skill_name | default: 'Skills' }}</li></a>
            {%- endif -%}

            {%- if data_root.projects and data_root.projects.size > 0 -%}
                <a href="#{{ page.projects_title | default: site.projects_title | default: 'Projects' }}"><li class="nav-item">{{ page.projects_title | default: "Projects" }}</li></a>
            {%- endif -%}

            {%- if data_root.experience and data_root.experience.size > 0 -%}
                <a href="#{{ page.experience_title | default: site.experience_title | slugify | default: 'Experience' }}"><li class="nav-item">{{ page.experience_title | default: site.experience_title | default: 'Experience' }}</li></a>
            {%- endif -%}

            {%- if data_root.education and data_root.education.size > 0 -%}
                <a href="#{{ page.education_title | default: site.education_title | slugify | default: 'Education' }}"><li class="nav-item">{{ page.education_title | default: site.education_title | default: 'Education' }}</li></a>
            {%- endif -%}

            {%- if data_root.certification and data_root.certification.size > 0 -%}
                <a href="#{{ page.certification_title | default: site.certification_title | slugify | default: 'certification' }}"><li class="nav-item">{{ page.certification_title | default: site.certification_title | default: 'Certification' }}</li></a>
            {%- endif -%}

            {%- if site.more_content -%}
                <a href="#{{ page.more_title | default: site.more_title | slugify | default: 'a-little-bit-more-about-me' }}"><li class="nav-item">{{ page.more_title | default: site.more_title | default: "A Little More About Me" }}</li></a>
            {%- endif -%}

            {%- if site.show_calendar == true -%}
                <a href="#{{ page.calendar_title | default: site.calendar_title | slugify | default: 'calendar' }}">
                    <li class="nav-item">
                      <!-- <iconify-icon icon="fa:calendar" width="16" height="16"></iconify-icon> -->
                      {{ page.calendar_title | default: site.calendar_title | default: "Calendar" }}
                    </li>
                </a>
            {%- endif -%}

            {% if page.lang == 'es' %}
                <a href="{{ '/' | relative_url }}">
                    <li class="nav-item">
                        <iconify-icon icon="fa:language" width="16" height="16"></iconify-icon>
                        <span style="opacity:0.6;">English</span> / <span style="font-weight:bold; text-decoration:underline;">Español</span> 
                    </li>
                </a>
            {% else %}
                <a href="{{ '/esp/' | relative_url }}">
                    <li class="nav-item">
                        <iconify-icon icon="fa:language" width="16" height="16"></iconify-icon>
                        <span style="font-weight:bold; text-decoration:underline;">English</span> / <span style="opacity:0.6;">Español</span>
                    </li>
                </a>
            {% endif %}

        </ul>
 </div>


